In [ ]:
fruits=("Apple","Banana","Orange")

In [70]:
student={
    1:"first",
    "name":"Alice",
    "age":20,
    "courses":["DBMS","AOS"]
}
print(student)
print(student["age"])
print(student.get("name"))
#usinf dict().constructor
student =dict(name="Alice",age=30,city="nepal")
print(student)
student["job"]="Engineer"
student["age"]=26
print(student)
del student["city"]
print(student)
if"jamuna" in student .values():
    print("Name exists")
else:
    print("Name doesnot exist")
    for key in student:
        print(key)
        for value in student.values():
            print(value)
            for key,value in student.items():
                print(key,value)

{1: 'first', 'name': 'Alice', 'age': 20, 'courses': ['DBMS', 'AOS']}
20
Alice
{'name': 'Alice', 'age': 30, 'city': 'nepal'}
{'name': 'Alice', 'age': 26, 'city': 'nepal', 'job': 'Engineer'}
{'name': 'Alice', 'age': 26, 'job': 'Engineer'}
Name doesnot exist
name
Alice
name Alice
age 26
job Engineer
26
name Alice
age 26
job Engineer
Engineer
name Alice
age 26
job Engineer
age
Alice
name Alice
age 26
job Engineer
26
name Alice
age 26
job Engineer
Engineer
name Alice
age 26
job Engineer
job
Alice
name Alice
age 26
job Engineer
26
name Alice
age 26
job Engineer
Engineer
name Alice
age 26
job Engineer

In [59]:
i=0 ;
while i<len(fruits):
    print(fruits[i])
    i=i+1
    print(fruits*2)

banana
['banana', 'orange', 'apple', 'grape', 'banana', 'orange', 'apple', 'grape']
orange
['banana', 'orange', 'apple', 'grape', 'banana', 'orange', 'apple', 'grape']
apple
['banana', 'orange', 'apple', 'grape', 'banana', 'orange', 'apple', 'grape']
grape
['banana', 'orange', 'apple', 'grape', 'banana', 'orange', 'apple', 'grape']

In [57]:

fruits = ["banana", "orange", "apple", "grape"]


if "apple" in fruits:
    print("Yes, we have apples!")
else:
    print("No apples found.")

Yes, we have apples!

In [56]:
list=[1,"hello",3.14,True]
tuple=(1,"hello",3.14,True)
set={1,"hello",3.14,True}
print(list,tuple,set)

[1, 'hello', 3.14, True] (1, 'hello', 3.14, True) {1, 3.14, 'hello'}

In [48]:
t=(1,2,(3,4),["a","b"])
print(t)

(1, 2, (3, 4), ['a', 'b'])

In [47]:
fruits=("Apple","Banana","Orange","cherry")
(green,yellow,red,black)=fruits
print(green)
print(red)
print(yellow)
(green,red,*yellow)=fruits
print(fruits)

Apple
Orange
Banana
('Apple', 'Banana', 'Orange', 'cherry')

In [43]:
newTuple=('apple','banana','mango','orange')
y=("cherry",)
newTuple+=y
print(newTuple)

('apple', 'banana', 'mango', 'orange', 'cherry')

In [ ]:
item1={"jamuna","janaka","aakankshya"}
item2={"apple","banana","mango"}
item3={"bike","car","scooty"}
item1.discard("janaka")
print(item1)
print(item3)
item2.remove("banana")


print(item2)

{'jamuna', 'aakankshya'}
{'bike', 'car', 'scooty'}
{'apple', 'mango'}

In [32]:
fruits={"apple","banana","mango","orange","apple"}
print(dir(fruits))

fruits.remove('apple')

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [19]:
fruits={"apple","banana","mango","orange","apple"}
print(fruits)

{'apple', 'orange', 'banana', 'mango'}

In [16]:
words=['apple','banana','mango']
uppercased = [word.upper()for word in words]
print(uppercased)

['APPLE', 'BANANA', 'MANGO']

In [15]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [5]:
list1=[1,2,3,[4,5]]
print(1 in list1)
print([4,5] in list1)
print(4 in list1)
print(4 in list1[3])

True
True
False
True

In [12]:
list=[1,2,3,[4,5,[6,7,8],9]]
print(list[3])
print(list[3][2])
print(list[3][2][1])

[4, 5, [6, 7, 8], 9]
[6, 7, 8]
7

In [8]:

fruits=["apple","orange","banana","mango"]
fruits.append("apple")
print(fruits)

['apple', 'orange', 'banana', 'mango', 'apple']